input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

p { margin-bottom: 10px;}


section.bg-primary a {
    color: #fff;
}
section.bg-primary a:hover {
    color: #eee;
}

#navbarResponsive { display: none; }
@media (min-width: 992px) {
    #navbarResponsive { display: block; }
}


.pw-check input {
    width: 100%;
    border-radius: 300px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    letter-spacing: 2px;

    font-size: 11px;
    padding: 15px 25px;

    background: transparent;
    color: #444;
    border: 1px solid #888;
}

#outputArea {
    color: #888;
    margin-top: 20px;
}

.entropy-quality-very-good { background: #31ff01; color: #fff; }
.entropy-quality-strong { background: #b5ff00; color: #222; }
.entropy-quality-moderate { background: #fcff00; color: #222; }
.entropy-quality-weak { background: #ff5700; color: #fff; }
.entropy-quality-very-weak { background: #ff0000; color: #fff; }

footer p {
    margin-bottom: 10px;
}


.github-ribbon img {
    z-index: 500;
    display: none;
}

@media (min-width: 1400px) {
    .github-ribbon img {
        display: block;
    }
}